
Author: H. Billur Engin
Hello All,

Since I was a teaching assistant in "Database Management Systems" course and have used SQL on and off during my grad&post-grad years, I was already familiar with SQL to some degree. After I decided to make my transition from academia to industry, I needed to dust off my rusty SQL skills a bit. 

First I overviewed 2 MOOCs: 
* [SQL Essential Training - Lynda.com](https://www.lynda.com/SQL-tutorials/SQL-Essential-Training/139988-2.html)
* [Managing Big Data with MySQL - Coursera.org](https://www.coursera.org/learn/analytics-mysql/home)

Downloaded:
* Data
* MySQL
* Practice

Then, studied the SQL interview questions from the following sources:
* [tutorialspoint.com](http://www.tutorialspoint.com/sql/sql_interview_questions.htm)
* 
*

## _Below is my SQL cheatsheet:_

## <span style="color:blue">**1. Key Concepts:**</span>
* **SQL:**Structured Query Language, communicates with relational databases
    - DDL (Data Definition Language) : Defines tables, indexes, relationships
        - <span style="color:red">CREATE</span><br \>
          **CREATE TABLE test (a INTEGER, b TEXT);**<br \>
          Use Constrains<br \>
          **CREATE TABLE test (
              a INTEGER NOT NULL ,<br \>
              b TEXT DEFAULT "b", <br \>
              c TEXT UNIQUE NOT NULL);**
          **CREATE TABLE test (id INTEGER PRIMARY KEY);**<br \>
        - <span style="color:red">ALTER</span> (Add, modify, delete columns in a database table)
          **ALTER TABLE test ADD d TEXT;**<br \>
          **ALTER TABLE test ADD e TEXT Default "panda";**
          ### <span style="color:green"> ADD MODIFY and DELETE examples</span>
        - <span style="color:red">DROP</span>
          **DROP TABLE test;**<br \>
    - DML (Data Manuipulation Language) : Works on already existing tables/ data
        - <span style="color:red">SELECT</span>
        - <span style="color:red">INSERT INTO (new rows)</span><br \>
          **INSERT INTO table (..fields..) VALUES (..values..);**<br \>
          **INSERT INTO Customer (name, city, zip) VALUES ("Fred", "Bedrock","91234");**
        - <span style="color:red">UPDATE</span> (existing rows)<br \>
          **UPDATE table SET field = Value;**<br \>
          **UPDATE Customer SET Address = "Bedrock", WHERE Name = "Fred";**
        - <span style="color:red">DELETE</span> (existing rows)<br \>
          **DELETE * FROM Customer WHERE id = 5;**<br \>
          TIP : First write a SELECT query, then replace "SELECT" with "DELETE"
        - <span style="color:red">BULK INSERT</span>
        - <span style="color:red">MERGE</span>
        
* **RDBMS**: Relational Database Management System (MySQL, SQLlite, Microsoft SQL Server)
    - (CRUD) 4 basic functions of any complete database management system"
        - Create
        - Retrieve
        - Update
        - Delete


* **DATA TYPES**:
    - INT / INTEGER
    - DECIMAL
    - VARCHAR / TEXT
    - MONEY
    - DATETIME
    - CHAR
    - BIT
    
    TYPEOF()

* **COMMENT**:
    -- This is a comment<br \>
    /\* This<br \>
    is a C style <br \>
    comment\*/<br \>

* **ER Diagram:**Entity Relationship Diagram -> conceptual realtionships
    - Entities : tables
    - Attributes : aspects of entities -> table columns
    - Entity Instances : table rows
    - Unique Attributes : An Attribute with Unique value in each entity instance
    - Composite Attributes : combination of other attributes
    - Partial Key : will not identify the entity wihtin itself
* **Relational Schemas:**
    - Tables
    - Primary Keys : unique attributes, only 1 primary key, no null values allowed
    - Foregin Keys : for linking tables to other tables
    - Composite Key : combination of primary Keys
    
* **Notes:**
    - SQL is not case sensitive
    - white space is ignored in SQL
     ### <span style="color:green"> ADD LIKE example</span>
    - LIKE operator and % wild card


## <p style="text-align: center;"> ER Diagram Symbols [source](http://www.studytonight.com/dbms/er-diagram)</p>
![](images/er-diagram-symbol.png)

## <p style="text-align: center;"> ER Diagram - Cardinality Symbols [source](http://infohost.nmt.edu/tcc/sa/erd_how.html)</p>
![](images/erd_how.png)

## <span style="color:blue">**2. Select Query Format:**</span>
SELECT <span style="color:red">\*</span><br />
FROM <span style="color:red">\*</span><br />
WHERE<br />
GROUP BY<br />
HAVING<br />
ORDER BY<br />
LIMIT<br />
OFFSET (index starts from 0)<br />
; <span style="color:red">\*</span><br />

<span style="color:red">\*</span> Required


- SELECT <span style="color:red">field</span> FROM <span style="color:red">table</span> WHERE <span style="color:red">criteria</span> GROUP BY <span style="color:red">field</span> HAVING <span style="color:red">property</span> ORDER BY <span style="color:red">field</span>;

- 0, "" and NULL are treated differently. NULL = lack of information
- ORDER BY can not be used in inner subqueries

## <span style="color:blue">**3. Aggregate Functions:**</span>
* SUM
* AVG
* MIN
* MAX
* COUNT

## <span style="color:blue">**4. JOINs:**</span>
- INNER JOIN
- LEFT JOIN
- RIGHT JOIN
- OUTER JOIN

* Use ___WHERE T1.id1=T2.id2___ , otherwise the query will return the carteasian product

**Ex:** <br/>
        SELECT \*<br/> 
        FROM T1 JOIN T2<br/>
        ON T1.id1=T2.id2;<br/>

## <p style="text-align: center;"> JOINS [source](https://www.coursera.org/learn/analytics-mysql/home)</p>
![](images/joins.png)

## <span style="color:blue">**5. Membership Opertors:**</span>
- IN
- NOT IN
- EXITS
- NOT EXISTS

## <span style="color:blue">**6. LOGICAL FUNCTIONS:**</span>
    * CASE WHEN ... THEN
           WHEN ... THEN
           ELSE ..
      END

## <span style="color:blue">**7. EVALUATION ORDER:**</span>
* NOT
* AND
* OR

## <span style="color:blue">**8. STRING FUNCTIONS:**</span>
* CONCAT()
* SUBSTR()
* LENGTH()
* TRIM()
* UPPER()
* LOWER()

## <span style="color:blue">**9. MULTIPLE COLUMN COMPARISONS:**</span>
* IN
* ANY
* ALL

## <span style="color:blue">**10. TRANSACTIONS, TRIGGERS, VIEWS:**</span>
* TRANSACTIONS : group of operations, if one query fails all transaction fails and the database returns to its before transaction state
* TRIGGERS : 
* VIEW :
**CREATE VIEW ... (a INTEGER, b TEXT);**